
:root {
    --text-color: #f0f4f5;
    --blackgroud-color: #263343;
    --accent-ccolor: #d49466;
  }
  
  body {
    margin: 0;
    font-family: "Source Sans Pro";
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
  }
  
  .navbar_logo {
    font-size: 24px;
    color: var(--text-color);
  }
  
  .navbar_logo i {
    color: #d49466;
  }
  
  .navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .navbar_menu li {
    padding: 8px 12px;
    color: var(--text-color);
  }
  
  .navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px; /*  배경색을 둘글게 처리 */
  }
  
  .navbar_icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
  }
  
  .navbar_icons li {
    padding: 8px 12px;
  }
  
  .navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }
  
    .navbar_menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .navbar_menu li {
      width: 100%;
      text-align: center;
    }
  
    .navbar_icons {
      display: none;
      justify-content: center;
      width: 100%;
    }
  
    .navbar_toogleBtn {
      display: block;
    }
  
    .navbar_menu.active,
    .navbar_icons.active {
      display: flex;
    }
  }


/*_____________________________________________________________________ 색상토글*/

body {
    margin: 0;
}
h1 {
    font-size: 38px;
    text-align: center;
    border-bottom:3px solid gray;
    margin: 0;
    padding: 20px;
    background-color: rgb(21,73,121);
    color: rgb(255, 215, 0);
}
a {    
    text-decoration: none;     
}
#grid ol {
    border-right: 3px solid gray;
    width: 120px;
    margin: 0;
    padding: 20px;
    padding-left: 36px;    
}

#grid {
    display: grid;
    grid-template-columns: 170px 1fr;
}
#article {
    padding-left: 25px;
}

@media(max-width: 800px) {  
    #article {
        padding-left: 0px;
    }

    #grid {
        display: block;     
    }   
    #grid ol {
        border-right: none;
    }
    h1 {
        font-size: 32px;
        border-bottom: none;
    }

}